<template>
    <div class="p-2">
        <div>
            <b-tabs content-class="mt-3">
                <b-tab title="Menu" active>
                    <h2 class="shadow-sm p-4 text-monospace text-secondary">Menu</h2>
                    <div class="p-2 row row-cols-1 row-cols-md-4">
                        <admin-item class="mb-3" v-on:updatePizzas="getPizzas" v-for="pizza in pizzas" :key="pizza.id"
                                    :admin-item="pizza"></admin-item>
                    </div>

                    <b-button v-b-modal.modal-newPizza block variant="primary">Create new Pizza</b-button>

                    <b-modal @ok="storePizza" id="modal-newPizza" centered title="Create new Pizza">
                        <div>
                            <b-form>
                                <b-form-group
                                        id="input-group-1"
                                        label="Name:"
                                        label-for="input-1"
                                >
                                    <b-form-input
                                            id="input-1"
                                            v-model="form.name"
                                            type="text"
                                            required
                                    ></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-2" label="Small Price:" label-for="input-2">
                                    <b-form-input
                                            id="input-2"
                                            v-model="form.sm_price"
                                            type="number"
                                            step="0.01"
                                            min="0"
                                            required
                                    ></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-3" label="Medium Price:" label-for="input-3">
                                    <b-form-input
                                            id="input-3"
                                            v-model="form.md_price"
                                            type="number"
                                            step="0.01"
                                            min="0"
                                            required
                                    ></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-4" label="Large Price:" label-for="input-4">
                                    <b-form-input
                                            id="input-4"
                                            v-model="form.lg_price"
                                            type="number"
                                            step="0.01"
                                            min="0"
                                            required
                                    ></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-4">
                                    <b-form-checkbox v-model="form.popular"
                                                     value="1"
                                                     unchecked-value="0">Popular
                                    </b-form-checkbox>
                                </b-form-group>


                                <b-form-group id="input-group-5" label="Description:" label-for="input-5">
                                    <b-form-textarea
                                            id="input-5"
                                            v-model="form.description"
                                            rows="3"
                                            max-rows="6"
                                    ></b-form-textarea>
                                </b-form-group>

                                <b-form-file
                                        @change="onFileSelected"
                                        :state="Boolean(file)"
                                        placeholder="Choose image or drop it here..."
                                        drop-placeholder="Drop file here..."
                                ></b-form-file>

                            </b-form>
                        </div>
                    </b-modal>
                </b-tab>
                <b-tab title="Orders">
                    <div>
                        <b-table striped hover :fields="fields" :items="orders">
                            <template v-slot:cell(index)="data">
                                {{ data.index + 1 }}
                            </template>
                        </b-table>
                    </div>
                </b-tab>
            </b-tabs>
        </div>
    </div>
</template>

<script>
    import AdminItem from "../components/AdminItem"
    import PizzaService from "../services/PizzaService";
    import {mapGetters} from "vuex";
    import OrderService from "../services/OrderService"

    export default {
        name: "Admin",
        components: {
            AdminItem
        },
        computed: {
            ...mapGetters({
                user: 'auth/user'
            }),
        },
        created() {
            this.getPizzas();
            this.getOrders();
        },
        data() {
            return {
                pizzas: [],
                orders: [],
                fields: [
                    'index',
                    { key: 'user.name', label: 'Name' },
                    { key: 'total_price', label: 'Total Price' },
                    { key: 'created_at', label: 'Order datetime'}
                ],
                file: null,
                form: {
                    name: '',
                    description: '',
                    sm_price: '',
                    md_price: '',
                    lg_price: '',
                    popular: 0,
                }
            }
        },
        methods: {
            getPizzas() {
                PizzaService.getPizzas().then(response => {
                    if (response.status === 200) {
                        this.pizzas = response.data;
                    }
                })
            },
            getOrders() {
                OrderService.getOrders().then(response => {
                    if (response.status === 200) {
                        this.orders = response.data;
                    }
                })
            },
            onFileSelected(event) {
                this.file = event.target.files[0];
            },
            storePizza(evt) {
                evt.preventDefault()
                const formData = new FormData();
                Object.keys(this.form).forEach(key => formData.append(key, this.form[key]));
                if (this.file) {
                    formData.append('pizza_image', this.file);
                }

                PizzaService.storePizza(formData).then(response => {
                    if (response.status === 201) {
                        this.getPizzas()
                        this.$nextTick(() => {
                            this.$bvModal.hide('modal-newPizza')
                        })
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
