<template>
    <div class="d-flex justify-content-center my-1 p-3">
        <div class="shadow bg-white col-6">
            <h2 class="display-4 p-3 mb-2">Your order</h2>
            <template v-if="cart.length">
                <div v-for="(item, index) in cart" v-bind:key="item.id + '-' + index" class="row border-bottom p-2 m-2 d-flex font-weight-bolder">

                    <p class="col-4">{{item.name}}  {{index}}</p><br>
                    <p class="col-4">{{item.size}}</p>
                    <p class="col-3">{{item.price}}€</p>
                    <div>
                        <img @click="removeFromCart(index)"
                             style="cursor: pointer"
                             src="https://img.icons8.com/material-outlined/24/000000/filled-trash.png"/>                    <!--                    <p>Ponedjeljak - 07:00 - 14:00 | 10:00 - 18:00</p>-->

                    </div>
                    <!--                    <p>Ponedjeljak - 07:00 - 14:00 | 10:00 - 18:00</p>-->
                </div>
                <p class="font-weight-bold">Total: {{totalAmount}}€</p>
                <b-button v-b-modal.modal-1 class="p-3 my-3" block variant="dark">Confirm your order</b-button>
                <b-modal @ok="submitOrder" id="modal-1" title="Are you sure you want to continue ?">
                    <p class="my-4">Total price : {{totalAmount}}€</p>
                </b-modal>
            </template>
            <template v-else>
                <p class="text-danger">You didn't choose anything</p>
            </template>
        </div>
    </div>

</template>

<script>
    import OrderService from "../services/OrderService";

    export default {

        name: "Checkout",
        computed: {
            totalAmount() {
                return this.$store.getters.total
            },
            cart() {
                return this.$store.getters.cart
            }
        },
        methods: {
            removeFromCart(index) {
                    this.$store.commit('removeFromCart', index)
                },
            submitOrder() {
                OrderService.sendOrder(this.cart).then(response => {
                    if(response.status === 201) {
                        // this.$emit('success-order');
                        this.$store.commit('clearCart')
                        this.$router.replace({name: 'home'})
                    }
                })
            }
            },
    }

</script>

<style scoped>

</style>
