<template>
    <div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3 class="display-5 "><span class="text-dark-80">Pizza-yummi online shop</span></h3>
                <p class="lead">Can't decide ? Take them all :) </p>
            </div>
        </div>
        <h3 class="display-5 bg-info p-4 rounded mb-4">Best Products</h3>
        <b-container>
            <b-carousel
                    id="carousel-1"
                    v-model="slide"
                    :interval="4000"
                    controls
                    fade
                    indicators
                    background="#ababab"
                    img-width="1024"
                    img-height="480"
                    style="text-shadow: 1px 1px 2px #333;"
                    @sliding-start="onSlideStart"
                    @sliding-end="onSlideEnd"
            >

                <b-carousel-slide
                        class="carouselSl"
                        v-for="item in popularPizzas"
                        :key="`pizza${item.id}`"
                        :img-src="apiURL + 'storage' + item.pizza_image"
                        :caption="item.name">
                    <p>
                        Price : {{item.md_price}}€
                        Size : Medium

                    </p>
                </b-carousel-slide>
            </b-carousel>
        </b-container>
        <div class="row my-4 justify-content-start">
            <Item
                    v-for="pizza in pizzas"
                    class="col-md-3"
                    :key="pizza.id"
                    :item="pizza">

            </Item>
        </div>
        <div>
            <template v-if="authenticated">
                <router-link to="/checkout">
                    <b-button class="p-3" block variant="primary">Checkout</b-button>
                </router-link>
            </template>
            <template v-else>
                <router-link to="/login">
                    <b-button class="p-3" block variant="primary">Login and order</b-button>
                </router-link>
            </template>

        </div>
    </div>
</template>

<script>
    import Item from "../components/Item";
    import {mapGetters} from "vuex";
    import PizzaService from "../services/PizzaService";
    import env from "../.env";

    export default {
        components: {
            Item
        },
        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated'
            }),
        },
        created() {
            this.getPizzas();
            this.getPopularPizzas();
            console.log(this.popularPizzas)
        },
        data() {
            return {
                apiURL: env.URL,
                slide: 0,
                sliding: null,
                selected: '',
                popularPizzas: [],
                someItems: [
                    {id: 1, name: 'Item 1', image: '//placehold.it/200', sm_price: 100, md_price: 130, lg_price: 500},
                    {id: 2, name: 'Item 2', image: '//placehold.it/200', sm_price: 200, md_price: 230, lg_price: 500},
                    {id: 3, name: 'Item 3', image: '//placehold.it/200', sm_price: 300, md_price: 330, lg_price: 500},
                    {id: 4, name: 'Item 4', image: '//placehold.it/200', sm_price: 400, md_price: 430, lg_price: 500},
                ],
                bestItems: [
                    {
                        id: 1,
                        src: 'https://images.pexels.com/photos/1653877/pexels-photo-1653877.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260',
                        caption: 'Pizza margarita',
                        sm_price: 50,
                        md_price: 60,
                        lg_price: 100
                    },
                    {
                        id: 2,
                        src: 'https://i0.wp.com/www.onlinerecepti.com.ba/wp-content/uploads/2016/12/tortellini-pizza.jpg?fit=596%2C300',
                        caption: 'Pizza kapricosa',
                        sm_price: 30,
                        md_price: 40,
                        lg_price: 150
                    }
                ],
                pizzas: []
            }
        },
        methods: {
            getPizzas() {
                PizzaService.getPizzas().then(response => {
                    if (response.status === 200) {
                        this.pizzas = response.data;
                    }
                })
            },
            getPopularPizzas() {
                PizzaService.getPopularPizzas().then(response => {
                    if (response.status === 200) {
                        this.popularPizzas = response.data;
                    }
                })
            },
            onSlideStart() {
                this.sliding = true
            },
            onSlideEnd() {
                this.sliding = false
            }
        }
    }
</script>
<style>
    .carouselSl img {
        width: auto;
        height: 480px;
        max-height: 480px;
    }

    .jumbotron {
        padding: 2em 0;
    }
</style>
