<template>
    <div class="container">
        <b-form @submit.prevent="submit" class="p-3 m-3">
            <b-form-group
                    id="input-group-1"
                    label="Email address:"
                    label-for="input-1"
            >
                <b-form-input
                        id="input-1"
                        v-model="form.email"
                        type="email"
                        required
                        placeholder="Enter email"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Your Password:" label-for="input-2">
                <b-form-input
                        id="input-2"
                        type="password"
                        v-model="form.password"
                        required
                        placeholder="Enter password"
                ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary" class="mx-4">Submit</b-button>
        </b-form>
        <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>
    </div>

</template>


<!--<template>-->
<!--    <form action="#" @submit.prevent="submit">-->
<!--        <div>-->
<!--            <label for="email">Email address</label>-->
<!--            <input type="text" name="email" id="email" v-model="form.email">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="password">Password</label>-->
<!--            <input type="text" name="password" id="password" v-model="form.password">-->
<!--        </div>-->
<!--        <div>-->
<!--            <button type="submit">-->
<!--                Sign in-->
<!--            </button>-->
<!--        </div>-->
<!--    </form>-->
<!--</template>-->

<script>
    import {mapActions} from 'vuex'
    import ValidationErrors from '../components/Validation-errors'

    export default {
        name: 'Login',
        components: {
            ValidationErrors
        },
        data() {
            return {
                validationErrors: '',
                form: {
                    email: '',
                    password: '',
                }
            }
        },

        methods: {
            ...mapActions({
                login: 'auth/login'
            }),

            async submit() {
                try {
                    await this.login(this.form)
                    this.$router.replace({name: 'home'})
                } catch (err) {
                    if (err.response.status === 422) {
                        this.validationErrors = err.response.data.errors;
                    }

                }
            }
        }
    }
</script>
