<template>
    <b-card :title="adminItem.name" :img-src="apiURL + 'storage' + adminItem.pizza_image" img-alt="Image" img-height="250px"
            img-top class="">
        <b-card-text>
            <div class="row justify-content-between px-4">
                <p>Small : {{adminItem.sm_price}}€</p>
                <p>Medium : {{adminItem.md_price}}€</p>
                <p>Large : {{adminItem.lg_price}}€</p>
            </div>
            <p>{{adminItem.description}}</p> <br>
            <p>Popular: {{adminItem.popular === 1}}</p>
        </b-card-text>
        <template v-slot:footer>

            <b-button v-b-modal="'modal-' + adminItem.id" class="mx-3" variant="outline-primary">Edit</b-button>
            <b-modal @ok="updatePizza" :id="'modal-' + adminItem.id" title="Edit pizza details">
                <div>
                    <b-form>
                        <b-form-group
                                id="input-group-1"
                                label="Name:"
                                label-for="input-1"
                        >
                            <b-form-input
                                    id="input-1"
                                    v-model="form.name"
                                    type="text"
                                    required
                            ></b-form-input>
                        </b-form-group>

                        <b-form-group id="input-group-2" label="Small Price:" label-for="input-2">
                            <b-form-input
                                    id="input-2"
                                    v-model="form.sm_price"
                                    type="number"
                                    step="0.01"
                                    min="0"
                                    required
                            ></b-form-input>
                        </b-form-group>

                        <b-form-group id="input-group-3" label="Medium Price:" label-for="input-3">
                            <b-form-input
                                    id="input-3"
                                    v-model="form.md_price"
                                    type="number"
                                    step="0.01"
                                    min="0"
                                    required
                            ></b-form-input>
                        </b-form-group>

                        <b-form-group id="input-group-4" label="Large Price:" label-for="input-4">
                            <b-form-input
                                    id="input-4"
                                    v-model="form.lg_price"
                                    type="number"
                                    step="0.01"
                                    min="0"
                                    required
                            ></b-form-input>
                        </b-form-group>

                        <b-form-group id="input-group-4">
                            <b-form-checkbox v-model="form.popular"
                                             value="1"
                                             unchecked-value="0">Popular
                            </b-form-checkbox>
                        </b-form-group>


                        <b-form-group id="input-group-5" label="Description:" label-for="input-5">
                            <b-form-textarea
                                    id="input-5"
                                    v-model="form.description"
                                    rows="3"
                                    max-rows="6"
                            ></b-form-textarea>
                        </b-form-group>

                        <b-form-file
                                @change="onFileSelected"
                                :state="Boolean(file)"
                                placeholder="Choose image or drop it here..."
                                drop-placeholder="Drop file here..."
                        ></b-form-file>

                    </b-form>
                </div>
            </b-modal>

            <b-button v-b-modal="'modalDelete-' + adminItem.id" variant="danger">Delete</b-button>

            <b-modal @ok="deletePizza" :id="'modalDelete-' + adminItem.id" centered title="Delete pizza">
                Are you sure you want to delete this pizza ?
            </b-modal>


        </template>
        <!--    </b-card>-->
        <!--        <b-card img-src="https://placekitten.com/300/300" img-alt="Card image" img-left class="mb-3">-->
        <!--            <b-card-text>-->
        <!--                Some quick example text to build on the card and make up the bulk of the card's content.-->
        <!--            </b-card-text>-->
        <!--        </b-card>-->

    </b-card>
</template>

<script>
    import PizzaService from "../services/PizzaService";
    import env from "../.env.js";

    export default {

        name: "AdminItem",
        props: ['adminItem'],
        created() {
            this.form = JSON.parse(JSON.stringify(this.adminItem))
        },

        methods: {
            onFileSelected(event) {
                this.file = event.target.files[0];
            },
            updatePizza(evt) {
                evt.preventDefault()
                const formData = new FormData();
                Object.keys(this.form).forEach(key => formData.append(key, this.form[key]));
                if (this.file) {
                    formData.append('pizza_image', this.file);
                } else {
                    formData.delete('pizza_image')
                }
                PizzaService.updatePizza(this.adminItem.id, formData).then(response => {
                    if (response.status === 201) {
                        this.$nextTick(() => {
                            this.$bvModal.hide(`modal-${this.adminItem.id}`)
                        })
                        this.$emit('updatePizzas')
                    }
                });
            },
            deletePizza(evt) {
                evt.preventDefault()
                PizzaService.deletePizza(this.adminItem.id).then(response => {
                    if (response.status === 200) {
                        this.$nextTick(() => {
                            this.$bvModal.hide(`modalDelete-${this.adminItem.id}`)
                        })
                        this.$emit('updatePizzas')
                    }
                })
            },
            getPizza() {
                PizzaService.getPizza(this.adminItem.id).then(response => {
                    this.adminItem = response.data
                })
            }
        },
        data() {
            return {
                show: true,
                file: null,
                form: null,
                apiURL: env.URL
                // form: {
                //     name: '',
                //     description: '',
                //     sm_price: '',
                //     md_price: '',
                //     lg_price: '',
                //     popular: '',
                //     pizza_image: '',
                // }
            }

        }
    }
</script>

<style scoped>

</style>
