<template>
    <footer id="footer" class="footer bg-info">
        <div class="text-center py-3 bg-transparent">© 2020 Copyright:
            <a class="text-dark font-italic" href="#"> Ivan Ostojic</a>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style>
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    /*#footer {*/
    /*    position: absolute;*/
    /*    bottom: 0;*/
    /*    height: 2.5rem;            !* Footer height *!*/
    /*}*/

    /*footer {*/
    /*    background-color: #f5f5f5;*/
    /*    padding: 25px;*/
    /*}*/
</style>
