<template>
    <div class="row">
        <b-alert
                class="alertMsg"
                :show="dismissCountDown"
                dismissible
                fade
                variant="warning"
                @dismiss-count-down="countDownChanged"
        >
            You added pizza to cart successfully
        </b-alert>

        <b-card
                :title="item.name"
                :img-src="apiURL + 'storage' + item.pizza_image"
                img-alt="Image"
                img-top
                img-height="250px"
                tag="article"
                style="max-width: 20rem;"
                class="mb-2"
        >
            <b-card-text class="text-left">
                {{item.description}}<br>
                Price : <b>{{ selectedSize ? selectedSize.price : 0}}€</b>
            </b-card-text>
            <div>
                <b-form-select v-model="selectedSize" :options="sizes"></b-form-select>
                <!--                <select v-model="size">-->
                <!--                    <option :selected="true" disabled>Choose size</option>-->
                <!--                    <option v-for="size in sizes" :key="size">{{size}}</option>-->
                <!--                </select>-->
                <!--                <b-button pill size="sm">Small</b-button>-->
                <!--                <b-button pill size="sm" variant="primary">Medium</b-button>-->
                <!--                <b-button pill size="sm" variant="danger">Jumbo</b-button>-->
            </div>
            <template v-if="authenticated">
                <img @click="addToCart(item)"
                     style="cursor: pointer"
                     class="float-right mt-3"
                     src="https://img.icons8.com/material-sharp/24/000000/shopping-cart-promotion.png"/>
            </template>
        </b-card>
    </div>
</template>
<!--<template>-->
<!--    <div class="col-md-3">-->
<!--        <div class="card">-->
<!--            <img :src="image" :alt="name" class="card-img-top">-->
<!--            <div class="card-body">-->
<!--                <h4 class="card-title">{{ name }}</h4>-->
<!--                <div class="card-text">{{ price | usd }}</div>-->
<!--                <div class="row justify-content-end">-->
<!--                    <button class="btn btn-primary">Add to cart</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</template>-->

<script>
    import {mapGetters} from "vuex";
    import env from "../.env";

    export default {
        name: 'Item',
        props: ['item'],
        data() {
            return {
                apiURL: env.URL,
                selectedSize: null,
                showDismissibleAlert: false,
                dismissSecs: 2,
                dismissCountDown: 0,
                sizes: [
                    {text: 'Pick a size', disabled: true},
                    {
                        value: {price: this.item.sm_price, size: 'Small'}, text: 'Small'
                    },
                    {
                        value: {price: this.item.md_price, size: 'Medium'}, text: 'Medium'
                    },
                    {
                        value: {price: this.item.lg_price, size: 'Large'}, text: 'Large'
                    }
                ]
            }
        },
        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated'
            }),
            existsSelectedSize() {
                return this.selectedSize.value === 0
            }
        },
        methods: {
            addToCart(item) {
                if (this.selectedSize !== null) {
                    this.$store.commit('addToCart', {
                        pizza_id: item.id,
                        name: item.name,
                        size: this.selectedSize.size,
                        price: this.selectedSize.price
                    })
                    this.showAlert()
                }
            },
            countDownChanged(dismissCountDown) {
                this.dismissCountDown = dismissCountDown
            },
            showAlert() {
                this.dismissCountDown = this.dismissSecs
            }
        }
    };
</script>

<style>
    .alertMsg {
        position: fixed !important;
        top: 0;
        right: 0;
        z-index: 999;
    }
</style>
