<template>
    <b-navbar toggleable="lg" type="dark" variant="info">
        <b-container>

            <b-navbar-brand to="/">Pizza yummi</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item href="#">About us</b-nav-item>
                    <b-nav-item href="#">Contact</b-nav-item>
                    <b-nav-item v-if="admin"  to="admin">Dashboard</b-nav-item>
                </b-navbar-nav>

                <b-navbar-nav class="ml-auto align-items-center">
                    <template v-if="authenticated">
                        <b-nav-item-dropdown right>
                            <template slot="button-content"><em>{{user.name}}</em></template>
                            <b-dropdown-item href="#">Profile</b-dropdown-item>
                            <b-dropdown-item @click="logout">Sign Out</b-dropdown-item>
                        </b-nav-item-dropdown>
                        <shopping-cart :cart="cart"></shopping-cart>
                    </template>
                    <template v-else>
                        <b-nav-item to="login">Login</b-nav-item>
                    </template>
                </b-navbar-nav>

            </b-collapse>

        </b-container>

    </b-navbar>
</template>
<script>
    import shoppingCart from "./Shopping-cart"
    import {mapActions, mapGetters} from "vuex";

    export default {
        components: {
            shoppingCart
        },
        computed: {
            ...mapGetters({
                authenticated: 'auth/authenticated',
                user: 'auth/user',
                admin: 'auth/admin',
                cart: 'cart'
            }),
        },
        methods: {
            ...mapActions({
                logout: 'auth/logout'
            }),
        },
        data() {
            return {}
        },

    }
</script>

<style>

</style>
