<template>
    <router-link to="/checkout">

        <div class="bg-transparent mx-4">
            <b-img src="https://img.icons8.com/material-sharp/24/000000/shopping-cart-promotion.png"></b-img>
            <small class="text-dark"><b>Total: {{totalAmount}}€ </b></small>
            <!--        {{this.$store.getters.cart}}-->
        </div>
    </router-link>

</template>

<script>
    export default {
        name: "shopping-cart",
        props: ['cart'],

        computed: {
            totalAmount() {
                return this.$store.getters.total
            }
        }
    }
</script>

<style scoped>

</style>
