<template>
    <div v-if="validationErrors">
        <ul class="alert alert-danger list-unstyled">
            <li v-for="(value, index) in validationErrors" v-bind:key="index">{{ value }}</li>
        </ul>
    </div>
</template>

<script>

    export default {
        name: "Validation-errors",
        props: ['errors'],

        data() {
            return {}
        },
        computed: {
            validationErrors() {
                let errors = Object.values(this.errors);
                errors = errors.flat();
                return errors;
            }
        }
    }
</script>

<style scoped>

</style>
