<template>
    <div id="app" class="container-fluid">
        <Navbar></Navbar>
        <div id="pageContent" class="container align-items-center justify-content-center">
            <transition name="fade">
                <router-view v-on:succes-order="displaySuccessMsg"></router-view>
            </transition>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
    import Navbar from "./components/Navbar";
    import Footer from "./components/Footer";

    export default {
        name: 'app',
        components: {
            Navbar,
            Footer,
        },
        computed: {

        },
        methods: {
            displaySuccessMsg() {

            }
        },
        data() {
            return {
                msg: 'Welcome to Your Vue.js App',
            }
        }
    }
</script>

<style>

    #app {
        padding: 0;
        text-align: center;
        background-color: azure;
        min-height: 100vh;
        position: relative;
        padding-bottom: 4rem;
    }

    #pageContent {
        max-width: 80%;
        padding-bottom: 2.5rem;
    }
    /*body {*/
    /*    margin-bottom: 60px;
    /*}*/



    .fade-enter-active,
    .fade-leave-active {
        transition-duration: 0.3s;
        transition-property: opacity;
        transition-timing-function: ease;
    }

    .fade-enter,
    .fade-leave-active {
        opacity: 0
    }

</style>
